@import "tailwindcss";

:root {
  --border: 214.3deg 31.8% 91.4%;
  --input: 214.3deg 31.8% 91.4%;
  --ring: 222.2deg 84% 4.9%;
  --background: 0deg 0% 100%;
  --foreground: 222.2deg 84% 4.9%;

  --primary: 222.2deg 47.4% 11.2%;
  --primary-foreground: 210deg 40% 98%;

  --secondary: 210deg 40% 96%;
  --secondary-foreground: 222.2deg 47.4% 11.2%;

  --destructive: 0deg 84.2% 60.2%;
  --destructive-foreground: 210deg 40% 98%;

  --muted: 210deg 40% 96%;
  --muted-foreground: 215.4deg 16.3% 46.9%;

  --accent: 210deg 40% 96%;
  --accent-foreground: 222.2deg 47.4% 11.2%;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
